@import url("https://fonts.cdnfonts.com/css/trueno");
@import url("https://fonts.cdnfonts.com/css/tt-fors-trial");

.hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  position: relative;
  padding: 0 50px;
}

.hero-container::before {
  content: "";
  position: absolute;
  bottom: -18px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../assets/triangle.png") no-repeat center bottom;
  background-size: 110% 62%;
  z-index: 1;
}

.hero-content {
  position: relative;
  text-align: left;
  left: 100px;
  z-index: 2;
}

.hero-main-text {
  font-size: 55px;
  margin: 0 0 10px 0;
  line-height: 1.1;
  color: white;
  position: relative;
  /* font-family: "Avita Outline", sans-serif; */
  font-family: "TT Fors", sans-serif;
  font-weight: 900;
}
/* 
.hero-main-text::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  white-space: nowrap;
  color: #000;
  font-size: 55px;
  font-weight: 600;
  font-family: "Trueno", sans-serif;
  line-height: 91px;
  visibility: hidden;
} */

.hero-sub-text {
  font-size: 55px;
  margin-left: 60px;
  white-space: nowrap;
  line-height: 1.1;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.3)
  );
  background-clip: text;
  color: transparent;
}

.hero-image {
  width: 100%;
  max-width: 100%;
  position: relative;
  z-index: 0;
}

.diagonal-slash-1 {
  bottom: 50%;
  right: -42%;
  z-index: 0;
}

.diagonal-slash-2 {
  left: 10%;
  z-index: 0;
}

.diagonal-slash-3 {
  right: 0;
}

.diagonal-slash-1,
.diagonal-slash-2,
.diagonal-slash-3 {
  position: absolute;
}

.circle-left {
  width: 55px;
  height: 55px;
  background-image: radial-gradient(
    circle at 35% 25%,
    #1ecdf5,
    #7446ff,
    #ad00ff
  );
  border-radius: 50%;
  position: absolute;
  bottom: 10%;
  left: 10%;
  z-index: 2;
  filter: blur(0.5px);
}

.circle-center {
  width: 90px;
  height: 90px;
  background-image: radial-gradient(
    circle at 75% 20%,
    #1ecdf5,
    #7446ff,
    #ad00ff
  );
  border-radius: 50%;
  position: absolute;
  bottom: 22%;
  justify-self: center;
  z-index: 0;
  filter: blur(2px);
}

.circle-right {
  width: 50px;
  height: 50px;
  background-image: radial-gradient(
    circle at 75% 20%,
    #1ecdf5,
    #7446ff,
    #ad00ff
  );
  border-radius: 50%;
  position: absolute;
  top: 10%;
  right: 14%;
  z-index: 2;
  filter: blur(2px);
}
