.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141416;
  color: white;
  padding: 50px;
  align-items: center;
}

.about-image-box {
  position: relative;
  background: linear-gradient(-90deg, #ad00ff, #23a6d5);
  border-radius: 50px;
  display: flex;
}

.about-content {
  position: relative;
  right: 10%;
}

.about-content h2 {
  font-size: 2.5rem; /* Adjust as needed */
  line-height: 64px;
  margin-bottom: 20px;
  margin-left: 30px;
}

.about-image-box img {
  max-width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
}

.about-content p {
  margin-bottom: 20px;
  line-height: 1.5;
}

.btn {
  padding: 18px 75px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 50px;
  background: linear-gradient(to right, #ad00ff, #23a6d5);
  cursor: pointer;
  overflow: hidden;
}
.btn::before {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: calc(50px - 5px);
  background-color: #141416;
  z-index: -1;
  transition: 200ms;
}
.btn::after {
  content: attr(data);
  font-size: 18px;
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
  position: relative; /* Ensure that it's on top of the ::before pseudo-element */
  z-index: 1;
}
.btn:hover::before {
  opacity: 0.5;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 50px;
}

.btn:hover::after {
  color: white;
}

.ball-left {
  width: 60px;
  height: 60px;
  background-image: radial-gradient(
    circle at 35% 25%,
    #1ecdf5,
    #7446ff,
    #ad00ff
  );
  border-radius: 50%;
  position: absolute;
  top: -9%;
  right: -12%;
  z-index: 2;
  filter: blur(0.5px);
}

.ball-right {
  width: 50px;
  height: 50px;
  background-image: radial-gradient(
    circle at 75% 20%,
    #1ecdf5,
    #7446ff,
    #ad00ff
  );
  border-radius: 50%;
  position: absolute;
  top: 108%;
  right: 32%;
  z-index: 2;
  filter: blur(2px);
}
