.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #141416;
  color: white;
  padding: 50px;
  align-items: center;
}

.about-image-box {
  position: relative;
  height: 455px;
  width: 655px;
  align-items: center;
  background: linear-gradient(-90deg, #ad00ff, #23a6d5);
  clip-path: polygon(
    93.263% 1.007%,
    6.548% 1.007%,
    6.548% 1.007%,
    5.582% 1.138%,
    4.666% 1.52%,
    3.812% 2.13%,
    3.032% 2.949%,
    2.339% 3.955%,
    1.744% 5.128%,
    1.26% 6.447%,
    0.899% 7.892%,
    0.673% 9.441%,
    0.595% 11.074%,
    0.595% 88.926%,
    0.595% 88.926%,
    0.673% 90.559%,
    0.899% 92.108%,
    1.26% 93.553%,
    1.744% 94.872%,
    2.339% 96.045%,
    3.032% 97.051%,
    3.812% 97.87%,
    4.666% 98.48%,
    5.582% 98.862%,
    6.548% 98.993%,
    67.725% 98.993%,
    67.725% 98.993%,
    68.368% 98.935%,
    68.997% 98.761%,
    69.605% 98.478%,
    70.19% 98.09%,
    70.746% 97.601%,
    71.268% 97.017%,
    71.752% 96.34%,
    72.194% 95.578%,
    72.588% 94.733%,
    72.93% 93.81%,
    98.469% 15.958%,
    98.469% 15.958%,
    98.98% 13.909%,
    99.208% 11.826%,
    99.172% 9.769%,
    98.894% 7.796%,
    98.393% 5.966%,
    97.69% 4.337%,
    96.805% 2.968%,
    95.758% 1.917%,
    94.571% 1.244%,
    93.263% 1.007%
  );
  display: flex;
}

.about-content {
  position: relative;
  right: 20%;
  width: 110%;
}

.about-content h2 {
  font-size: 2.5rem;
  line-height: 64px;
  margin-bottom: 20px;
  margin-left: 30px;
  /* font-family: "Trueno", sans-serif; */
  font-family: "TT Fors", sans-serif;
}

.about-image-box img {
  max-width: 100%;
  width: 90%;
  height: 77%;
}

.about-content p {
  margin-bottom: 35px;
  line-height: 1.5;
}

.button {
  padding: 15px 80px;
  border: none;
  outline: none;
  position: relative;
  z-index: 1;
  border-radius: 50px;
  background: linear-gradient(to right, #ad00ff, #23a6d5);
  cursor: pointer;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  border-radius: calc(50px - 5px);
  background-color: #141416;
  z-index: -1;
  transition: 200ms;
}

.button::after {
  content: attr(data);
  font-size: 16px;
  background: white;
  -webkit-background-clip: text;
  color: transparent;
  transition: 200ms;
  position: relative;
  z-index: 1;
}

.button:hover::before {
  opacity: 0.5;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 50px;
}

.button:hover::after {
  color: white;
}

.ball-left {
  width: 70px;
  height: 70px;
  background-image: radial-gradient(
    circle at 35% 25%,
    #1ecdf5,
    #7446ff,
    #ad00ff
  );
  border-radius: 50%;
  position: absolute;
  top: 112%;
  right: 25%;
  z-index: 2;
  filter: blur(0.5px);
}

.ball-right {
  width: 50px;
  height: 50px;
  background-image: radial-gradient(
    circle at 75% 20%,
    #1ecdf5,
    #7446ff,
    #ad00ff
  );
  border-radius: 50%;
  position: absolute;
  top: -9%;
  right: -12%;
  z-index: 2;
  filter: blur(2px);
}
