.header {
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px 0;
  position: relative;
  z-index: 3;
}

.logo-container {
  align-items: center;
  gap: 5px;
}

.logo-image {
  height: 27px;
}

.logo-text {
  font-size: 16px;
  letter-spacing: 4px;
}

.logo-vr {
  font-weight: bold;
}

.navigation {
  gap: 50px;
}

.nav-link {
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #181718;
}

@media (max-width: 768px) {
  .header {
    padding: 15px 28px 0;
  }

  .navigation {
    gap: 15px;
  }
}
